:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #fffb00;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.botaozada {
    background-color: var(--botao-azul);
    border-radius: 5px;
    color: var(--branco-principal);
    text-decoration: none;
}
.botaozada:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

*{
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-size: 20px;
}